<com.mycompany.cps.Parametry>
  <czestProbkCiaglego>10000</czestProbkCiaglego>
  <liczbaPrzedzialowHistogramu>5</liczbaPrzedzialowHistogramu>
  <A>1.0</A>
  <T>5</T>
  <t1>0</t1>
  <d>100</d>
  <kw>0.7</kw>
  <ts>2.4</ts>
  <f>1</f>
  <p>0.2</p>
  <rodzajSygnalu>S11</rodzajSygnalu>
  
</com.mycompany.cps.Parametry>
