<com.mycompany.cps.Parametry>
  <czestProbkCiaglego>1000</czestProbkCiaglego>
  <liczbaPrzedzialowHistogramu>20</liczbaPrzedzialowHistogramu>
  <rodzajSygnalu>s4</rodzajSygnalu>
  <A>1</A>
  <T>1</T>
  <t1>-2</t1>
  <d>5</d>
  <kw>0.3</kw>
  <ts>0.3</ts>
  <f>5</f>
  <p>0.05</p>
  <rodzajKwantyzacji>q1</rodzajKwantyzacji>
  <rodzajRekonstrukcji>r3</rodzajRekonstrukcji>
  <liczbaPoziomowKwantyzacji>10</liczbaPoziomowKwantyzacji>
  <czyWczytacZPliku>false</czyWczytacZPliku>
  <sciezkaWczytywania>wynik.bin</sciezkaWczytywania>
  <czyZapisacDoPliku>false</czyZapisacDoPliku>
  <sciezkaZapisywania>s1.bin</sciezkaZapisywania>
  <rodzajOperacji>0</rodzajOperacji>
</com.mycompany.cps.Parametry>
